* {
  box-sizing: border-box;
}

/*-- Sass Variables --*/
/*--END SASS VARIABLES--*/
body {
  font-family: "Poppins";
  color: #000f0e;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 1.2rem;
  color: #000f0e;
}

h2 {
  margin: 0;
  font-size: 3rem;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #ffaaab 3px 3px;
}

h3 {
  margin: 0;
  font-size: 2rem;
  color: #99d7d2;
}

h4 {
  font-size: 1.5rem;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #be5c5e 3px 3px;
}

h5 {
  font-size: 1rem;
  color: white;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #3f817b 3px 3px;
}

h6 {
  font-size: 1rem;
  color: #99d7d2;
  text-align: center;
  margin: 5% auto;
}

.scroll-button {
  width: 100%;
  height: 50px;
  text-align: center;
}
.scroll-button a {
  color: #99d7d2;
  text-decoration: none;
}
.scroll-button a:hover {
  color: #3f817b;
}

/*-- First Page --*/
.main-container {
  margin: 0 20%;
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
}

.main-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1;
}

.mobile-main-image {
  display: none;
}

.main-image {
  display: flex;
  align-items: center;
  grid-column: 2;
}
.main-image img {
  max-width: 700px;
  min-width: 300px;
}

.main-social-links {
  text-align: center;
  grid-column: 1/3;
}
.main-social-links ul {
  padding: 0;
}
.main-social-links a {
  text-decoration: none;
}
.main-social-links li {
  list-style-type: none;
  display: inline-flex;
  margin-right: 20px;
}
.main-social-links .link-circle {
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 3px 3px 0 #be5c5e;
}
.main-social-links .link-circle :hover {
  opacity: 0.3;
}
.main-social-links #shadow-accent-pink {
  box-shadow: 3px 3px 0 #ffaaab;
}
.main-social-links #shadow-accent-yellow {
  box-shadow: 3px 3px 0 #fed268;
}
.main-social-links #shadow-accent-green {
  box-shadow: 3px 3px 0 #99d7d2;
}
.main-social-links #shadow-accent-green-dark {
  box-shadow: 3px 3px 0 #3f817b;
}
.main-social-links img {
  width: 36px;
}

/*-- Second Page --*/
.about-page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffaaab;
}

.about-container {
  margin: 0 20%;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.about-container h2 {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #be5c5e 3px 3px;
}

.about-header {
  width: 100%;
  grid-column: 1/3;
  text-align: center;
}

#profile-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}
#profile-image img {
  width: 400px;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 8px 6px;
}
#profile-image button {
  text-decoration: none;
  background-color: black;
  color: #fed268;
  margin: 20px 0;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: bold;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 8px 6px;
}
#profile-image #resume-button:hover {
  transform: translate(4px, 2px);
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 4px 4px;
}
#profile-image #resume-button:active {
  transform: translate(4px, 4px);
}

#profile-description {
  grid-column: 2;
  background-color: white;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 8px 6px;
  height: auto;
  padding: 10px;
}
#profile-description p {
  font-weight: bold;
}

/*-- Third Page --*/
.skills-page {
  background: #ffaaab;
  display: grid;
  height: 100vh;
  grid-template-columns: auto auto;
}
.skills-page h3 {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #be5c5e 3px 3px;
}

.skills-container {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programs-container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programs-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.programs-icons img {
  width: 64px;
  background-color: white;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #3f817b 8px 6px;
  margin: 10px;
}
.programs-icons img:hover {
  transform: scale(1.2, 1.2);
}

.skills-header {
  width: 100%;
  grid-column: 1/3;
  text-align: center;
}
.skills-header h2 {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #be5c5e 3px 3px;
}

.skills-row {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: baseline;
}
.skills-row h4 {
  margin-right: 20px;
  width: 150px;
  text-align: right;
}

.skills-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 40px;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 8px 6px;
  background-color: white;
}

.skills-progress {
  margin: 0 10px;
  width: 200px;
  height: 20px;
  background-color: #fed268;
}

#progress-HTML {
  width: 90%;
}

#progress-CSS {
  width: 90%;
}

#progress-JS {
  width: 80%;
}

#progress-JAVA {
  width: 90%;
}

#progress-BS {
  width: 50%;
}

#progress-SASS {
  width: 90%;
}

/*-- Projects --*/
.projects-page {
  background: white;
}

.projects-header {
  padding: 5% 0 0 10%;
}

.projects-description {
  padding: 0 0 0 10%;
}

.projects-grid {
  margin: 0 10%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 1fr);
}
.projects-grid a {
  text-decoration: none;
}
.projects-grid p {
  color: #000;
  padding: 0 10%;
}

.projects-card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #ffaaab 8px 6px;
}
.projects-card img {
  width: 90%;
  height: 90%;
}

.projects-card:hover {
  transform: scale(1.2, 1.2);
  cursor: pointer;
}

.projects-card:active {
  transform: scale(1, 1);
}

.card-green {
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #99d7d2 8px 6px;
}

.card-yellow {
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #fed268 8px 6px;
}

/*-- Projects Description Overlay --*/
.overlay-container {
  text-align: center;
}

#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5,
#overlay6 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #be5c5e;
  background-color: #be5c5e;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay1-close-btn,
.overlay2-close-btn,
.overlay3-close-btn,
.overlay4-close-btn,
.overlay5-close-btn,
.overlay6-close-btn {
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: white;
  float: right;
}

.overlay1-content,
.overlay2-content,
.overlay3-content,
.overlay4-content,
.overlay5-content,
.overlay6-content {
  padding: 200px;
  color: white;
}

.synopsis-btn {
  text-decoration: none;
  background-color: white;
  color: #fed268;
  margin: 20px 0;
  width: 200px;
  height: 50px;
  border: none;
  font-weight: bold;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #99d7d2 8px 6px;
}

.synopsis-btn:hover {
  transform: translate(4px, 2px);
  box-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #3f817b 3px 3px;
  cursor: pointer;
}

.synopsis-btn:active {
  transform: translate(4px, 4px);
}

/*-- Contact Form --*/
.contact-page {
  background-color: white;
}

.contact-header {
  margin: 0;
  padding: 0;
}

.contact-text {
  margin-left: 10%;
  margin-bottom: 5%;
  padding: 50px 0 0 0;
}
.contact-text h1 {
  font-size: 2rem;
}
.contact-text p {
  margin: 0;
}

.form-container {
  margin: 0 20%;
  width: 50%;
}

.top-form {
  display: flex;
}

.top-form-column {
  width: 100%;
}

.form-space {
  width: 100px;
}

input[type=text],
select,
textarea {
  font-family: "Poppins";
  width: 100%;
  padding: 12px;
  border: none;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #99d7d2 8px 6px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  border: none;
  font-family: "Poppins";
  background-color: white;
  padding: 12px 20px;
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #ffaaab 8px 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  transform: translate(4px, 2px);
  box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 4px 4px;
}

input[type=submit]:active {
  transform: translate(4px, 4px);
}

footer {
  margin-top: 5%;
  padding: 5%;
  width: 100%;
  background-color: #99d7d2;
  color: white;
  text-align: center;
}
footer span {
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000, #3f817b 3px 3px;
}
footer .link-circle {
  margin: 0;
  padding: 0;
}
footer .link-circle img {
  width: 24px;
}
footer .credits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
footer .credits-list p {
  margin: 0;
  padding: 0;
  color: #000f0e;
}
footer .credits-list a {
  color: #3f817b;
  text-decoration: none;
}

/*--EXTRA LARGE DESKTOP STYLES --*/
@media only screen and (min-width: 1280px) {
  .main-container {
    margin: 0 20% 0 20%;
  }
}
/*-- LARGE DESKTOP STYLES --*/
@media only screen and (max-width: 1280px) {
  .main-container {
    margin: 0 15% 0 15%;
  }
}
/*-- DESKTOP STYLES --*/
@media only screen and (min-width: 1024px) {
  /*--MAIN--*/
  .main-social-links .link-circle img {
    width: 18px;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.7rem;
  }
  /*--ABOUT--*/
  .about-page {
    height: 100vh;
  }
  .about-container {
    margin: 0 15%;
  }
  #profile-image img {
    width: 250px;
  }
  #profile-description p {
    font-size: 0.9rem;
  }
  .progress-percentage {
    display: none;
  }
  /*--PROJECTS--*/
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  /*--CONTACT--*/
  .top-form {
    display: block;
  }
  .top-form-column {
    width: 100%;
  }
}
/*-- TABLET STYLES--*/
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /*--MAIN--*/
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 0 5% 0;
    text-align: center;
  }
  .main-image {
    display: none;
  }
  .mobile-main-image {
    display: block;
    margin: 50px;
  }
  .mobile-main-image img {
    width: 250px;
  }
  /*--ABOUT--*/
  .about-container {
    height: 100vh;
    margin: 5%;
    display: flex;
    flex-direction: column;
  }
  .about-header {
    display: flex;
    justify-content: center;
  }
  #profile-description p {
    font-size: 0.7rem;
  }
  #profile-image img {
    width: 300px;
  }
  /*--SKILLS-*/
  .progress-percentage {
    display: none;
  }
  .skills-row h4 {
    font-size: 1.3rem;
  }
  .skills-row {
    width: 250px;
  }
  /*--PROJECTS--*/
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects-card {
    width: 50%;
  }
  /*--CONTACTS--*/
  .form-container {
    width: auto;
  }
  .contact-text {
    font-size: 0.8rem;
  }
  input[type=text],
select,
textarea {
    font-size: 0.7rem;
  }
  label {
    font-size: 0.8rem;
  }
  /*-- FOOTER --*/
  footer .link-circle img {
    width: 18px;
  }
  footer .credits-list {
    display: block;
  }
}
/*-- MOBILE/SMARTPHONES --*/
@media only screen and (max-width: 425px) {
  .mobile-main-image img {
    width: 150px;
  }
  .about-container {
    height: 100vh;
  }
  .about-header {
    margin: 0;
  }
  .skills-page {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }
  .skills-row {
    background-color: #99d7d2;
    box-shadow: -1.2px 1.2px 0 #000, 1.2px 1.2px 0 #000, 1.2px -1.2px 0 #000, -1.2px -1.2px 0 #000, #be5c5e 8px 6px;
    margin: 10px;
  }
  .skills-row h4 {
    width: 100%;
  }
  .skills-bar {
    display: none;
  }
  .progress-percentage {
    display: contents;
  }
  .projects-card {
    height: 50%;
  }
  .contact-text {
    padding: 50px 20px 0 0;
  }
  .top-form {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */