* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova';
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
}

#logo {
  font-family: synthemesc, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  color: #E32C4D;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  grid-row: 1;
}

#navigation-links {
  text-align: right;
  -ms-grid-column: 3;
  -ms-grid-column-span: 10;
  grid-column: 3 / 13;
  -ms-grid-row: 1;
  grid-row: 1;
}

#navigation-links a {
  line-height: 60px;
  text-decoration: none;
  color: #675C5C;
  padding: 0% 2%;
}

#navigation-links a:visited {
  color: #675C5C;
}

#navigation-links a:hover {
  color: #E32C4D;
}

#mobile-menu {
  display: none;
  text-decoration: none;
  color: #675C5C;
}

#mobile-menu i {
  line-height: 60px;
}

#browse-all {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 2;
  grid-row: 2;
  padding: 10%;
  height: 750px;
  /*-- Image Source: https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-1.2.1&dl=kaizen-nguy-n-jcLcWL8D7AQ-unsplash.jpg&q=80&fm=jpg&crop=entropy&cs=tinysrgb --*/
  background-image: url("./imgs/drinks_lineup.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#browse-title {
  font-size: 3rem;
  color: white;
}

#browse-button {
  padding-top: 5%;
}

#browse-button button {
  padding: 20px 40px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #E32C4D;
  font-size: 1.2rem;
  font-family: 'Proxima Nova', 'sans-serif';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#browse-button button:hover {
  background-color: #2DDEDE;
}

#trending-title {
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2 / 13;
  -ms-grid-row: 3;
  grid-row: 3;
  padding-top: 20px;
  font-size: 3rem;
  color: #E32C4D;
}

#trending-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 4;
  grid-row: 4;
  padding-top: 5%;
  padding-bottom: 5%;
}

#trending-page #trending-card {
  display: block;
  width: 300px;
  height: 400px;
  margin: 10px 40px 200px 40px;
  border: 1px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#trending-page #trending-card img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

#trending-page #trending-card img:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#trending-page #trending-card p {
  color: #E32C4D;
  font-size: 1.5rem;
  text-align: center;
}

#trending-page #trending-card .trending-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#trending-page #trending-card .trending-button-wrapper button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  color: white;
  background: #E32C4D;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Proxima Nova', 'sans-serif';
}

#trending-page #trending-card .trending-button-wrapper button:hover {
  background-color: #2DDEDE;
}

#our-story-page {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 5;
  grid-row: 5;
  padding: 10%;
  /*-- Image Source: https://live.staticflickr.com/65535/50204530837_b24ef56e18_o_d.jpg --*/
  background-image: url("./imgs/berry_drinks.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#our-story-page #our-story-title {
  font-size: 3rem;
  color: white;
}

#our-story-page #our-story-description {
  font-size: 1.5rem;
  color: white;
  width: 50%;
}

#our-story-page #join-our-family-button {
  padding-top: 5%;
}

#our-story-page #join-our-family-button button {
  padding: 20px 40px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: #E32C4D;
  font-size: 1.2rem;
  font-family: 'Proxima Nova', 'sans-serif';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-story-page #join-our-family-button button:hover {
  background-color: #2DDEDE;
}

#create-account-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 2;
  -ms-grid-column-span: 11;
  grid-column: 2 / 13;
  -ms-grid-row: 6;
  grid-row: 6;
  font-size: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #675C5C;
}

#create-account-title #logo-text {
  font-family: 'synthemesc', 'Proxima Nova', 'sans-serif';
  color: #E32C4D;
}

#create-account-page {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 7;
  grid-row: 7;
  padding-bottom: 5%;
}

#create-account-page #sign-up-form {
  display: -ms-grid;
  display: grid;
}

#create-account-page #sign-up-form form {
  display: -ms-grid;
  display: grid;
  width: 50%;
  margin-left: 25%;
}

#create-account-page #sign-up-form form #signup-button {
  background-color: #E32C4D;
  color: white;
  font-size: 1rem;
  font-family: 'Proxima Nova', 'sans-serif';
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#create-account-page #sign-up-form form #signup-button:hover {
  background-color: #2DDEDE;
  border: #2DDEDE;
}

#create-account-page #sign-up-form input {
  margin: 10px;
  padding: 20px;
  border: 3px solid #E32C4D;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

#create-account-page #sign-up-form input[type=text]:focus {
  background: #e32c4e48;
}

#create-account-page #sign-up-form input[type=password]:focus {
  background: #e32c4e48;
}

#create-account-page #sign-up-form ::-webkit-input-placeholder {
  font-size: 1rem;
  font-family: 'Proxima Nova', 'sans-serif';
  color: #E32C4D;
}

#create-account-page #sign-up-form :-ms-input-placeholder {
  font-size: 1rem;
  font-family: 'Proxima Nova', 'sans-serif';
  color: #E32C4D;
}

#create-account-page #sign-up-form ::-ms-input-placeholder {
  font-size: 1rem;
  font-family: 'Proxima Nova', 'sans-serif';
  color: #E32C4D;
}

#create-account-page #sign-up-form ::placeholder {
  font-size: 1rem;
  font-family: 'Proxima Nova', 'sans-serif';
  color: #E32C4D;
}

#create-account-page #alternate-signup {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#create-account-page #alternate-signup button {
  margin: 5px;
  padding: 20px;
  border: 3px solid #E32C4D;
  border-radius: 20px;
  font-family: 'Proxima Nova', 'sans-serif';
  font-size: 1rem;
  background-color: #E32C4D;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#create-account-page #alternate-signup button:hover {
  background-color: #2DDEDE;
  border: #2DDEDE;
}

#create-account-page #alternate-signup p {
  color: #675C5C;
}

#create-account-page #alternate-signup p a {
  color: #E32C4D;
}

#create-account-page #alternate-signup p a:hover {
  color: #2DDEDE;
}

#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 8;
  grid-row: 8;
  text-align: center;
  background: #E32C4D;
  color: white;
  padding: 1%;
}

/*-- Tablets (1112px and below) --*/
@media screen and (max-width: 768px) {
  #logo {
    font-size: 2rem;
    line-height: 60px;
  }
  #browse-all {
    background-image: url("./imgs/drinks_lineup_mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  #trending-page {
    display: -ms-grid;
    display: grid;
  }
  #trending-page #trending-card {
    display: block;
  }
  #our-story-page #our-story-description {
    font-size: 1rem;
  }
}

/*-- Mobile (600px and below) --*/
@media screen and (max-width: 600px) {
  #navigation-links {
    display: none;
  }
  #mobile-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 11;
    -ms-grid-column-span: 2;
    grid-column: 11 / 13;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  #browse-title {
    padding-top: 70px;
    font-size: 2rem;
  }
  #browse-button {
    padding-top: 10%;
  }
  #browse-button button {
    padding: 20px 30px;
  }
  #trending-page {
    display: -ms-grid;
    display: grid;
  }
  #trending-page #trending-title {
    font-size: 2rem;
  }
  #trending-page #trending-card {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */